.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(1, 135, 212);
}.main-footer strong{
    color: rgb(233, 233, 233);
}.main-footer a{
    color: aliceblue;
}